.form-radios .form-item {
    display:inline;
    margin-right: 5px !important;
}
.form-checkboxes .form-item {
    margin-bottom: 5px;
}
.form-item label {
    margin-bottom: 5px;
}
#feedback-form #edit-first-name-wrapper,
#feedback-form #edit-email-wrapper {
    width: 45%;
    float: left;
    margin-right: 6%;
}
#feedback-form #edit-last-name-wrapper,
#feedback-form #edit-phone-wrapper {
    width: 45%;
    float: left;
}
#feedback-form #edit-institution {
    width: 95%;
}
